<h1>Available Room</h1>

<div class="row" *ngIf="rooms" style="float:left">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr *ngFor="let room of rooms">
            <td>
              <img src="src/app/images/intro_room.jpg" alt="Intro Gallery Room Sample Pictures">
            </td>
            <td>
              <strong>Room #: {{room.roomNumber}}</strong>
              <br/>
              <strong>Price: {{room.price}}</strong>
              <br/>
              <strong (click)="viewReservations(room.id)">View Reservations</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="outer-outlet" style="float:left; padding-left: 30px">
  <router-outlet></router-outlet>
</div>